<tr>
    <td class="p-2 text-sm font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{name}}</td>
    <td class="p-2 text-sm font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{amount}}</td>
    <td class="p-2 text-sm font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{UOM}}</td>
</tr>