<div class="recipe-card pb-2">
    <img class="h-auto max-w-full" src="/images/placeholder-image.jpg" alt="image description">
    <div class="flex-row justify-between">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{name}}</h3>
        <div class="flex columns-2 justify-between">
            <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
            <div class="flex columns-3 justify-between gap-2">
                <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                <p class="text-gray-500"> | </p>
                <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="./recipePreview.js"></script>