
<div class="recipe-card pb-2 rounded-md drop-shadow-md">
    <a href="recipe/{{id}}"><img class="h-auto max-w-full" src="/images/placeholder-image.jpg" alt="image description"></a>
    <div class="flex-row justify-between py-2 px-4 bg-white dark:bg-neutral-800">
        <a href = "/recipe/{{id}}"><h3 class="text-2xl font-semibold text-neutral-800 dark:text-white">{{name}}</h3></a>
        <h3 class="text-lg text-neutral-500 dark:text-neutral-400">{{seenIn}}</h3>
        <div class="flex columns-2 justify-between">
            {{> favorite-button}}
            {{> vote}}
        </div>
    </div>
</div>

<script src="/js/recipePreview.js"></script>