<body>
    
    <div class="flex flex-col space-y-4 items-center justify-center">
    <h1 class="mb-10 mt-10 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md: text-5xl lg: text-8xl">Ah Spork it!</h1>
    
    <div class="mb-10 mt-10">
<p class="mb-8 text-lg font-normal text-gray-600 lg:text-xl sm:px-16 lg:px-48">We can't dish you up some recipes here, but click the link and we'll serve you up something nice!</p>
    </div>
    
<a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800">Let's go back home</a> 
    <img src="https://media3.giphy.com/media/d10dMmzqCYqQ0/giphy.gif?cid=ecf05e47q40b9fjv78o93wmh9z9k74hdvlhlb6l8cvm0qrf5&ep=v1_gifs_search&rid=giphy.gif&ct=g">

</body>