<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Browse Recipes</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Explore our recipe selection and discover meals from your favorite movies, TV shows, and video games. Like, dislike, and favorite recipes to keep track of your favorites!</p>
    </div>
</section>

<section class="bg-white dark:bg-gray-900 lg:mx-4">
    <div class="px-4 sm:px-16 mx-auto md:grid md:grid-cols-3 gap-4 justify-around">
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="recipe-card pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>