{{!-- Page Header --}}
<section class="bg-green-50 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Browse Recipes</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Explore our recipe selection and discover meals from your favorite movies, TV shows, and video games. Like, dislike, and favorite recipes to keep track of your favorites!</p>
    </div>
</section>

{{!-- Recipe Card Container --}}
<section class="bg-green-50 dark:bg-gray-900 lg:mx-4">
    <div class="px-4 sm:px-16 mx-auto max-w-screen-xl md:grid md:grid-cols-3 gap-4 justify-around">
        {{!-- Recipe Card --}}
        {{#each allRecipes as |recipe|}}
        {{> recipe-preview}}
        {{/each}}
    </div>
</section>