{{!-- Page Header --}}
<section class="bg-neutral-100 dark:bg-neutral-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-neutral-800 md:text-4xl lg:text-5xl dark:text-white">Welcome back, {{userName}}!</h1>
        <p class="mb-8 text-lg font-normal text-neutral-500 lg:text-xl sm:px-16 lg:px-48 dark:text-neutral-400">We hope you're enjoying your saved recipes, but don't forget to check out some new ones too. There's always something delicious to discover here. Happy cooking!</p>
    </div>
</section>

{{!-- Recipe Card Container --}}
<section class="bg-neutral-100 dark:bg-neutral-900 lg:mx-4">
    <div class="px-4 sm:px-16 mx-auto md:grid md:grid-cols-3 gap-4 justify-around">
        {{!-- Recipe Card --}}
        {{!-- TODO: Needs to be udpated for displaying a user's favorite recipes --}}
        {{#each favoriteRecipes as |recipe|}}
        {{> recipe-preview}}
        {{/each}}
    </div>
</section>
<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
        <a href="/browse" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-green-500">
            Browse More Recipes
            <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a> 
    </div>
</div>
