{{!-- Home Page Hero --}}
<section class="bg-neutral-100 dark:bg-neutral-900">
<section class="bg-neutral-100 dark:bg-neutral-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <img src="/images/homepage-header.svg" class="mb-4 sm:px-16" alt="Put a Spork in it Hero Image">
        <div class="flex columns-3 justify-center mb-6 items-center gap-1">
            <img class="w-1/12" src="images/wreath-left.svg" alt="">
            <h1 class="font-extrabold tracking-tight leading-none text-neutral-800 text-3xl sm:text-5xl md:text-6xl lg:text-7xl dark:text-white">
            <span class="text-2xl sm:text-4xl md:text-5xl lg:text-7xl">FROM YOUR SCREEN</span><br>TO YOUR PLATE</h1>
            <img class="w-1/12" src="images/wreath-right.svg" alt="">
        </div>
        
        <p class="mb-6 text-lg font-normal text-neutral-500 lg:text-xl sm:px-16 lg:px-48 dark:text-neutral-400">Bringing
            the magic of your favorite movies, TV shows, and video games to your plate with mouth-watering recipes!</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="/browse"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-green-500">
                Browse All Recipes
                <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
{{!-- Featured Recipe Container --}}
<section class="bg-neutral-100 dark:bg-neutral-900 lg:mx-4 mb-4 md:mb-10">
    <div class="pt-4 pb-2 px-4 max-w-screen-xl text-center lg:pt-10 lg:pb-5 mx-auto">
        <h2 class="mb-2 tracking-tight text-3xl md:text-4xl font-bold text-neutral-800 dark:text-white">Featured Recipes
        </h2>
    </div>
    {{!-- Recipe Cards Container --}}
    <div class="px-4 sm:px-16 mx-auto max-w-screen-xl md:grid md:grid-cols-3 gap-4 justify-around">
        {{#each topRecipes as |topRecipes|}}
        {{> recipe-preview}}
        {{/each}}
    </div>
</section>