<section class="bg-white dark:bg-gray-900 lg:mx-4">
    <div class="py-4 px-4 max-w-screen-xl text-center lg:py-10 mx-auto">
        <h2 class="mb-2 tracking-tight text-3xl md:text-4xl font-bold text-gray-900 dark:text-white">Featured Recipes</h2>
    </div>
    <div class="px-4 sm:px-16 mx-auto md:flex md:columns-3 gap-4 justify-around">
        <div class="pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
        <div class="pb-2">
            <img class="h-auto max-w-full" src="../public/images/placeholder-image.jpg" alt="image description">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Recipe Title</h3>
            <div class="flex columns-2 justify-between">
                <a class="text-gray-500"><i class="fa-regular fa-heart"></i></a>
                <div class="flex columns-3 justify-between gap-2">
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-up"></i> 1,398</a>
                    <p class="text-gray-500"> | </p>
                    <a class="text-gray-500"><i class="fa-solid fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>