{{!-- Home Page Hero --}}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">From your screen to your plate</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at PutASporkInIt our mission is to bring the magic of your favorite movies, TV shows, and video games to your plate with mouth-watering recipes!</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800">
                Browse All Recipes
                <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a> 
        </div>
    </div>
</section>
{{!-- Featured Recipe Container --}}
<section class="bg-white dark:bg-gray-900 lg:mx-4">
    <div class="py-4 px-4 max-w-screen-xl text-center lg:py-10 mx-auto">
        <h2 class="mb-2 tracking-tight text-3xl md:text-4xl font-bold text-gray-900 dark:text-white">Featured Recipes</h2>
    </div>
    {{!-- Recipe Cards Container --}}
    <div class="px-4 sm:px-16 mx-auto md:flex md:columns-3 gap-4 justify-around">
        {{#each topRecipes as |topRecipes|}}
        {{> recipe-preview}}
        {{/each}}
    </div>
</section>